@import "tailwindcss";

:root {
  --background: #f3f3ff;
  --foreground: #101016;
  --muted: #565656;
  --border: #d0d0e0;
  --accent: #101016;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --font-sans: var(--font-ibm-plex-mono);
  --font-mono: var(--font-ibm-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101016;
    --foreground: #f3f3ff;
    --muted: #a0a0a0;
    --border: #303040;
    --accent: #f3f3ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 14px;
  line-height: 1.75;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--foreground);
  color: var(--background);
}
